* {margin: 0; font-family: 'Montserrat';}
html, body {
  margin: 0; padding: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
}


@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}


@mixin Item ($color) {
  .item-part {
    .item-top-01 {
      border-top: 180px solid $color;
      &::after {background-color: $color;}
    }
  }
}

@mixin contentSetting ($fontSize, $letterSpacing) {
  .title {
    h1 {
      letter-spacing: $letterSpacing;
      font-size: $fontSize;
    }
  }
}

@mixin contentColor ($bgColor, $titleColor, $textColor) {
  background-color: $bgColor;
  .title {
    h1 {color: $titleColor;}
  }
  .subtitle {color: $textColor;}
  .description {color: $textColor;}
  .sm_title {color: $textColor;}
  .back {
    color: $textColor;
    .head {
      &::before {background-color: $textColor;}
      &::after {background-color: $textColor;}
    }
    .arrow {background-color: $textColor;}
  }
}

.body-wrapper {
  width: 100vw; height: 100vh;
  max-width: 100%;
  position: relative;

  .content {
    width: 100vw; height: 100vh;
    max-width: 100%;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
  }

  .loading {
    background-color: #f0f0f0;
    z-index: 100;
    .lds-ripple {
      width: 64px; height: 64px;
      position: absolute;
      left: 0; right: 0;
      bottom: 0; top: 0;
      margin: auto;
    }
    .lds-ripple div {
      position: absolute;
      border: 4px solid #222222;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
    .lds-ripple div:nth-child(2) {animation-delay: -0.5s;}
  }
  
  .menu {
    display: none;
    background-color: #56268d;
    background: -webkit-linear-gradient(to top,  #451abb, #8c37ec);
    background: linear-gradient(to top,  #451abb, #8c37ec);
    padding-left: 150px;
    .background {
      position: absolute;
      width: 100vw; height: 100vh;
      left: 0; 
      max-width: 100%; max-height: 100%;
      img {position: absolute;}     

      .shadows {
        position: absolute;
        width: 100%; height: 100%;
        opacity: 0.2;
        opacity: 0;
        img {width: 100%; height: 100%;}
      }

      .shapes {
        position: absolute;
        width: 100%; height: 100%;
        opacity: 0.5;
        img {width: 100%; height: 100%;}
        #bg_shape_01 {width: 50%; height: auto;}
        #bg_shape_02 {width: 50%; height: auto; right: 0; bottom: 0; }
        #bg_shape_03 {width: 50%; height: auto; left: 0; bottom: 0; }
      }
    }
    .title {
      color: #f0f0f0;
      position: absolute;
      top: 0; bottom: 500px;
      left: 0; right: 0;
      text-align: center;
      height: 130px; width: 500px;
      width: 100%;
      margin: auto;
      p {
        line-height: 130px;
        font-size: 7rem;
        font-weight: 800;
        font-family: 'Fjalla One';
        letter-spacing: -5px;
        text-transform: uppercase;
        text-shadow: 0px 0px 5px #232323,
                     0px 0px 5px #f0f0f0;
      }
    }
    .items {
      width: 1200px;
      height: 600px;
      position: absolute;
      left: 0; right: 0;
      margin: auto;
      bottom: 100px;
      .item {
        width: 250px; height: 600px;
        position: absolute;
        cursor: pointer;
        bottom: 0;
        .item-shadow {
          box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
          border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
          transform: rotate(-1deg);
          width: 200px; height: 10px;
          position: absolute;
          left: 25px;
          bottom: -25px;
        }
        &:first-of-type {
          left: 0;
          @include Item(#d1d1d1);
        }
        &:last-of-type {
          right: 0;
          @include Item(#83bece);
        }
        &:nth-of-type(2) {
          left: 0; right: 0; margin: auto;
          @include Item(#cda41d);
        }
        &:hover {
          .item-part {
            .item-top-01 {
              &::after {
                height: 250px;
                width: 250px;
                bottom: 150px;
              }
            }
          }
          .item-image {
            .img-shadow {width: 50%;}
            img {
              bottom: 100px;
              transform: rotate(0deg);
            }
          }
        }
        .item-part {
          width: 100%;
          position: absolute;
          overflow-x: hidden;
        }
        .item-top {
          height: 520px;
          z-index: 2;
          .item-top-01 {
            width: 0; height: 0;
            position: absolute;
            bottom: 0px;
            transition: 0.5s;
            right: -150px;
            border-top: 180px solid transparent;
            border-left: 150px solid transparent;
            border-right: 150px solid transparent;
            &::after {
              content: '';
              width: 150px; height: 180px;
              transition: 0.5s;
              position: absolute;
              bottom: 130px;
              right: 0;
              transform: skewY(25deg);
              border-radius: 15px;
            }
          }
        }
        .item-bottom {
          height: 250px;
          z-index: 1;
          bottom: 0;
          border-radius: 20px;
          background-color: #f0f0f0;
        }
        .item-image {
          width: 100%;
          height: 200px;
          z-index: 2;
          position: absolute;
          bottom: 200px;
          text-align: center;
          .img-shadow {
            width: 70%; 
            height: 10px;
            position: absolute;
            transition: 0.5s;
            top: 0; left: 0; right: 0;
            margin: auto;
            background-color: transparent;
            z-index: 1;
            box-shadow: 0px 200px 10px 0px rgba(0,0,0,0.5);
            border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%;
          }
          img {
            transform: rotate(30deg);
            width: 80%;
            left: 0; right: 0; 
            z-index: 2;
            margin: auto;
            transition: 0.5s;
            bottom: 0px; 
            position: absolute;
          }
        }
        .item-category {
          position: absolute;
          bottom: 150px;
          left: 20px;
          z-index: 2;
          p {
            font-size: 0.7rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 0;
          }
        }
        .item-name {
          position: absolute;
          top: 470px;
          left: 20px;
          z-index: 2;
          width: 150px;
          p {
            letter-spacing: 2px;
            text-transform: uppercase;
            margin: 0;
          }
        }
      }
    }
  }

  .shoe {
    display: none;
    &.shoe_01 {
      &.shoe_01_black {
        // display: block;
        @include contentColor(#232323, rgba(0,0,0,0.2), white);
        @include contentSetting(30rem, -2px);
      }
      &.shoe_01_white {
        @include contentColor(#d1d1d1, rgba(255, 255, 255, 0.3), #232323);
        @include contentSetting(30rem, -2px);
      }
      &.shoe_01_pink {
        @include contentColor(#da9fb6, rgba(226, 171, 205, 0.4), #232323);
        @include contentSetting(30rem, -2px);
      }
    }
    &.shoe_02 {
      &.shoe_02_black {
        // display: block;
        @include contentColor(#232323, rgba(0,0,0,0.2), white);
        @include contentSetting(30rem, -5px);
      }
      &.shoe_02_yellow {
        // display: block;
        @include contentColor(#cda41d, rgba(241, 210, 70, 0.418), #232323);
        @include contentSetting(30rem, -5px);
      }
      &.shoe_02_pink {
        // display: block;
        @include contentColor(#da9fb6, #e268729d, #232323);
        @include contentSetting(30rem, -5px);
      }
    }
    &.shoe_03 {
      &.shoe_03_black {
        // display: block;
        @include contentColor(#232323, rgba(0,0,0,0.2), white);
        @include contentSetting(30rem, -5px);
      }
      &.shoe_03_white {
        // display: block;
        @include contentColor(#d1d1d1, rgba(255, 255, 255, 0.3), #232323);
        @include contentSetting(30rem, -5px);
      }
      &.shoe_03_blue {
        // display: block;
        @include contentColor(#83bece, #42a9c586, #232323);
        @include contentSetting(30rem, -5px);
      }
    }

    .display, .title{
      width: 100%; height: 100%;
      position: absolute;
    }
    .display {
      z-index: 2;
      img, .shoe-shadow, .subtitle  {
        position: absolute;
        left: 0px; right: 0;
        margin: auto;
        top: 0; bottom: 0; 
      }
      img {
        width: 40%;
        z-index: 2;
        max-width: 650px;
      }
      .subtitle {
        height: 500px; width: 1000px;
        p {
          font-family: 'Fjalla One';
          font-weight: 800;
          font-size: 4rem;
          position: absolute;
        }
        .subtitle_01 {top: -50px; left: -100px;}
        .subtitle_02 {bottom: -30px; right: -100px;}
        .description {
          font-size: 1.1rem;
          font-family: 'Montserrat';
          font-weight: 300;
          width: 500px;
          bottom: -30px;
          left: -120px;
        }
      }
    }
    .title {
      z-index: 1;
      h1 {
        line-height: 500px;
        height: 500px;
        width: 1000px;
        text-align: center;
        font-family: 'Fjalla One';
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        margin: auto;
      }
    }
    .sm_title, .colors, .back {
      position: absolute;
      margin: auto;
    }
    .sm_title {
      bottom: 0; left: 0; right: 0;
      text-align: center;
      font-size: 1.5rem;
      line-height: 80px;
      height: 80px;
      font-family: 'Fjalla One';
    }
    .colors {
      right: 0;
      top: 0; bottom: 0;
      width: 50px;
      background-color: rgba(0,0,0,0.1);
      height: 250px;
      z-index: 3;
      .color {
        margin: 45px auto;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border-radius: 50%;
        &.red {background-color: rgb(219, 108, 108);}
        &.blue {background-color: rgb(156, 156, 253);}
        &.green {background-color: rgb(108, 175, 108);}
        &.yellow {background-color: rgb(243, 243, 114);}
        &.pink {background-color: rgb(255, 190, 201);}
        &.white {background-color: rgb(245, 241, 241);}
        &.black {background-color: rgb(22, 21, 21);}
        &.selected {
          box-shadow: 0px 0px 5px 0px #f0f0f0,
                      0px 0px 5px 0px #ffffff;
        }
      }
    }
    .back {
      bottom: 0; left: 50px; 
      height: 80px;
      z-index: 3;
      width: 360px;
      cursor: pointer;
      p {
        font-family: 'Fjalla One';
        font-size: 1.5rem;
        line-height: 80px;
        height: 80px;
        width: 60px;
        overflow: hidden;
        position: absolute;
      z-index: 3;
      }
      .head {
        position: absolute;
        height: 30px;
        left: 60px;
        bottom: 15px;
        &::before {
          position: absolute;
          content: '';
          width: 30px;
          height: 3px;
          transform: rotate(-30deg);
          top: -7px;
          left: -2px;
        }
        &::after {
          position: absolute;
          content: '';
          width: 30px;
          height: 3px;
          transform: rotate(30deg);
          top: 7px;
          left: -2px;
        }
      }
      .arrow {
        width: 300px;
        height: 3px;
        margin-bottom: 27px;
        position: absolute;
        left: 60px;
        bottom: 15px;
      }
    }
  }
}

@media(max-width: 1350px) {
  .body-wrapper {
    .shoe {
      &.shoe_01 {
        &.shoe_01_black {@include contentSetting(25rem, -2px);}
        &.shoe_01_white {@include contentSetting(25rem, -2px);}
        &.shoe_01_pink {@include contentSetting(25rem, -2px);}
      }
      &.shoe_02 {
        &.shoe_02_black {@include contentSetting(25rem, -10px);}
        &.shoe_02_yellow {@include contentSetting(25rem, -10px);}
        &.shoe_02_pink {@include contentSetting(25rem, -10px);}
      }
      &.shoe_03 {
        &.shoe_03_black {@include contentSetting(25rem, -5px);}
        &.shoe_03_white {@include contentSetting(25rem, -5px);}
        &.shoe_03_blue {@include contentSetting(25rem, -5px);}
      }
      .display {
        .subtitle {
          height: 400px; 
          width: 800px;
          .subtitle_01 {top: -60px;}
          .subtitle_02 {bottom: -40px;}
        }
      }
      .title {
        h1 {
          line-height: 400px;
          height: 400px;
          width: 800px;
        }
      }
      .sm_title {
        line-height: 50px;
        height: 50px;
      }
      .back {
        height: 50px;
        p {line-height: 50px; height: 50px;}
        .head {bottom: 00px; }
        .arrow {margin-bottom: 17px; bottom: 10px; }
      }
    }
  }
}

@media(max-width: 1250px) {
  .body-wrapper {
    .menu {
      .title {
        bottom: 440px;
        height: 100px; 
        width: 100%;
        p {
          line-height: 100px;
          font-size: 6rem;
        }
      }
      .items {
        width: 950px;
        height: 450px;
        bottom: 40px;
        .item {
          width: 220px; 
          height: 450px;
          .item-shadow { width: 170px; }
          &:hover {
            .item-part {
              .item-top-01 {
                &::after {height: 200px; width: 220px;}
              }
            }
          }
          .item-top {height: 410px;}
          .item-bottom {height: 250px;}
          .item-image {bottom: 230px;}
          .item-category {bottom: 180px;}
          .item-name {
            top: 290px;
            p {font-size: 0.9em;}
          }
        }
      }
    }
  }
}

@media(max-width: 1100px) {
  .body-wrapper {
    .shoe {
      &.shoe_01 {
        &.shoe_01_black {@include contentSetting(20rem, -10px);}
        &.shoe_01_white {@include contentSetting(20rem, -10px);}
        &.shoe_01_pink {@include contentSetting(20rem, -10px);}
      }
      &.shoe_02 {
        &.shoe_02_black {@include contentSetting(20rem, -10px);}
        &.shoe_02_yellow {@include contentSetting(20rem, -10px);}
        &.shoe_02_pink {@include contentSetting(20rem, -10px);}
      }
      &.shoe_03 {
        &.shoe_03_black {@include contentSetting(20rem, -10px);}
        &.shoe_03_white {@include contentSetting(20rem, -10px);}
        &.shoe_03_blue {@include contentSetting(20rem, -10px);}
      }
  
      .display {
        .subtitle {
          height: 400px; 
          width: 650px;
          .subtitle_01 {top: -25px; left: -80px;}
          .subtitle_02 {bottom: -5px; right: -80px;}
          .description {
            font-size: 1rem;
            width: 400px;
            bottom: -5px;
            left: -80px;
          }
        }
      }
      .title {
        h1 {
          line-height: 400px;
          height: 400px;
          width: 650px;
        }
      }
      .back {
        width: 280px;
        .arrow {width: 220px;}
      }
    }
  }
}

@media(max-width: 1050px) {
  .body-wrapper {
    .menu {
      .title {
        bottom: 380px;
        height: 80px; 
        p {line-height: 80px; font-size: 5rem;}
      }
      .items {
        width: 800px;
        height: 380px;
        .item {
          height: 380px;
          &:hover {
            .item-part {
              .item-top-01 {
                &::after {
                  height: 180px;
                  bottom: 130px;
                }
              }
            }
            .item-image {
              img {bottom: 50px;}
            }
          }
          .item-top {
            height: 370px;
            bottom: 20px;
            .item-top-01 {
              right: -130px;
              border-top: 150px solid transparent;
              border-left: 130px solid transparent;
              border-right: 130px solid transparent;
              &::after {width: 150px; height: 150px;}
            }
          }
          .item-bottom {height: 200px;}
          .item-image {bottom: 200px;}
          .item-category {bottom: 150px;}
          .item-name {top: 250px;}
        }
      }
    }
  }
}

@media(max-width: 900px) {
  .body-wrapper {
    .shoe {
      &.shoe_01 {
        &.shoe_01_black {@include contentSetting(15rem, -10px);}
        &.shoe_01_white {@include contentSetting(15rem, -10px);}
        &.shoe_01_pink {@include contentSetting(15rem, -10px);}
      }
      &.shoe_02 {
        &.shoe_02_black {@include contentSetting(15rem, -10px);}
        &.shoe_02_yellow {@include contentSetting(15rem, -10px);}
        &.shoe_02_pink {@include contentSetting(15rem, -10px);}
      }
      &.shoe_03 {
        &.shoe_03_black {@include contentSetting(15rem, -10px);}
        &.shoe_03_white {@include contentSetting(15rem, -10px);}
        &.shoe_03_blue {@include contentSetting(15rem, -10px);}
      }
  
      .display {
        img {
          bottom: unset;
          top: 100px;
          width: 40%;
        }
        .subtitle {
          bottom: unset;
          top: 50px;

          height: 300px; 
          width: 550px;
          p {
            font-size: 3rem;
          }
          .subtitle_01 {top: -15px; left: 0px;}
          .subtitle_02 {bottom: 0px; right: 0px;}
          .description {
            font-size: 1rem;
            width: 350px;
            bottom: -45px;
            left: 0px; right: 0px;
            margin: auto;
          }
        }
      }
      .title {
        h1 {
          bottom: unset;
          top: 55px;
          line-height: 300px;
          height: 300px;
          width: 650px;
        }
      }

      .back {
        width: 210px;
        .arrow {width: 150px;}
      }
    }
  }
}


@media(max-width: 850px) {
  .body-wrapper {
    .menu {
      .title {
        top: 50px; 
        bottom: unset;
        height: 80px; 
        p {line-height: 80px; font-size: 4rem;}
      }
      .items {
        width: 650px;
        height: 350px;
        .item {
          height: 350px;
          width: 180px; 
          .item-shadow { width: 130px; }
          &:hover {
            .item-part {
              .item-top-01 {
                &::after {
                  height: 150px;
                  width: 180px;
                  bottom: 110px;
                }
              }
            }
            .item-image {
              img {bottom: 50px;}
            }
          }
          .item-top {
            height: 350px;
            .item-top-01 {
              border-top: 120px solid transparent;
              &::after {width: 180px; height: 120px;}
            }
          }
          .item-bottom {height: 170px;}
          .item-image {bottom: 180px;}
          .item-category {
            bottom: 130px;
            p {font-size: 0.6rem;}
          }
          .item-name {
            width: 130px;
            p {font-size: 0.8em;}
          }
        }
      }
    }
  }
}

@media(max-width: 700px) {
  .body-wrapper {
    .menu {
      // display: none;
      // background-color: #56268d;
      // background: -webkit-linear-gradient(to top,  #451abb, #8c37ec);
      // background: linear-gradient(to top,  #451abb, #8c37ec);
      // padding-left: 150px;
      .background {
        // position: absolute;
        // width: 100vw; height: 100vh;
        // left: 0; 
        // max-width: 100%; max-height: 100%;
        // img {position: absolute;}     
        // .details {
        //   position: absolute;
        //   width: 100%; height: 100%;
        //   opacity: 0.5;
        //   #circle_01 {top: 10%; left: 15%;}
        //   #circle_02 {top: 5%; right: 15%; width: 50px; height: 50px; opacity: 0.5;}
        //   #circle_03 {bottom: 20%; right: 25%; width: 80px; height: 80px; opacity: 0.8;}
        //   #dot_circle_01 {bottom: 25%; left: 10%; width: 100px; height: 100px;}
        //   #dot_circle_02 {bottom: 15%; right: 5%; width: 150px; height: 150px;}
        //   #dot_circle_03 {top: 15%; right: 40%; width: 120px; height: 120px;}
        //   #shape_01 {left: 10%; top: -20%;}
        //   #shape_02 {right: 5%; top: 15%; width: 300px;}
        //   #shape_03 {left: 30%; bottom: 5%;}
        // }
  
        // .shadows {
        //   position: absolute;
        //   width: 100%; height: 100%;
        //   opacity: 0.2;
        //   opacity: 0;
        //   img {width: 100%; height: 100%;}
        // }
  
        // .shapes {
        //   position: absolute;
        //   width: 100%; height: 100%;
        //   opacity: 0.5;
        //   img {width: 100%; height: 100%;}
        //   #bg_shape_01 {width: 50%; height: auto;}
        //   #bg_shape_02 {width: 50%; height: auto; right: 0; bottom: 0; }
        //   #bg_shape_03 {width: 50%; height: auto; left: 0; bottom: 0; }
        // }
      }

      .title {
        top: 50px; 
        bottom: unset;
        // left: 0; right: 0;
        height: 80px; 
        // width: 100%;
        p {
          line-height: 80px;
          font-size: 4rem;
          // font-weight: 800;
          // letter-spacing: -5px;
        }
      }
      .items {
        width: 650px;
        height: 350px;
        // bottom: 40px;
        .item {
          height: 350px;
          width: 180px; 
          .item-shadow {
            width: 130px; 
            // height: 10px;
            // left: 25px;
            // bottom: -25px;
          }
          &:first-of-type {
            // left: 0;
            // @include Item(#d1d1d1);
          }
          &:last-of-type {
            // right: 0;
            // @include Item(#83bece);
          }
          &:nth-of-type(2) {
            // left: 0; right: 0; margin: auto;
            // @include Item(#cda41d);
          }
          &:hover {
            .item-part {
              .item-top-01 {
                &::after {
                  height: 150px;
                  width: 180px;
                  bottom: 110px;
                }
              }
            }
            .item-image {
              // .img-shadow {width: 50%;}
              img {
                bottom: 50px;
                // transform: rotate(0deg);
              }
            }
          }
          .item-part {
            // width: 100%;
          }
          .item-top {
            height: 350px;
            // bottom: 20px;
            .item-top-01 {
              // right: -130px;
              border-top: 120px solid transparent;
              // border-left: 130px solid transparent;
              // border-right: 130px solid transparent;
              &::after {
                width: 180px; height: 120px;
                // bottom: 130px;
                // right: 0;
                // transform: skewY(25deg);
                // border-radius: 15px;
              }
            }
          }
          .item-bottom {
            height: 170px;
            // bottom: 0;
            // border-radius: 20px;
          }
          .item-image {
            // width: 100%;
            // height: 200px;
            bottom: 180px;
            .img-shadow {
              // width: 70%; 
              // height: 10px;
              // top: 0; left: 0; right: 0;
            }
            img {
              // transform: rotate(30deg);
              // width: 80%;
            }
          }
          .item-category {
            bottom: 130px;
            // left: 20px;
            p {
              font-size: 0.6rem;
              // letter-spacing: 2px;
            }
          }
          .item-name {
            // top: 250px;
            // left: 20px;
            width: 130px;
            p {
              font-size: 0.8em;
              // letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 650px) {
  .body-wrapper {
    .shoe {
      &.shoe_01 {
        &.shoe_01_black {
          @include contentSetting(15rem, -10px);
        }
        &.shoe_01_white {
          @include contentSetting(15rem, -10px);
        }
        &.shoe_01_pink {
          @include contentSetting(15rem, -10px);
        }
      }
      &.shoe_02 {
        &.shoe_02_black {
          @include contentSetting(15rem, -10px);
        }
        &.shoe_02_yellow {
          @include contentSetting(15rem, -10px);
        }
        &.shoe_02_pink {
          @include contentSetting(15rem, -10px);
        }
      }
      &.shoe_03 {
        &.shoe_03_black {
          @include contentSetting(15rem, -10px);
        }
        &.shoe_03_white {
          @include contentSetting(15rem, -10px);
        }
        &.shoe_03_blue {
          @include contentSetting(15rem, -10px);
        }
      }
  
      .display, .title{
        // width: 100%; height: 100%;
        // position: absolute;
      }
      .display {
        // z-index: 2;
        img, .shoe-shadow, .subtitle  {
          // position: absolute;
          // left: 0px; right: 0;
          // margin: auto;
          // top: 0; bottom: 0; 
        }
        img {
          bottom: unset;
          top: 100px;
          width: 40%;
          // z-index: 2;
          // max-width: 650px;
        }
        .subtitle {
          bottom: unset;
          top: 50px;

          height: 300px; 
          width: 550px;
          p {
            font-size: 3rem;
          }
          .subtitle_01 {top: -15px; left: 0px;}
          .subtitle_02 {bottom: 0px; right: 0px;}
          .description {
            font-size: 1rem;
            width: 350px;
            bottom: -45px;
            left: 0px; right: 0px;
            margin: auto;
          }
        }
      }
      .title {
        h1 {
          bottom: unset;
          top: 55px;
          line-height: 300px;
          height: 300px;
          width: 650px;
        }
      }
      .sm_title {
        // font-size: 1.5rem;
        // line-height: 50px;
        // height: 50px;
      }
      .colors {
        // width: 50px;
        // height: 250px;
        // z-index: 3;
        .color {
          // margin: 45px auto;
          // width: 20px;
          // height: 20px;
        }
      }
      .back {
        // left: 50px; 
        // height: 50px;
        width: 210px;
        p {
          // font-size: 1.5rem;
          // line-height: 50px;
          // height: 50px;
          // width: 60px;
        }
        .head {
          // height: 30px;
          // left: 60px;
          // bottom: 00px;
          &::before {
            // width: 30px;
            // height: 3px;
            // transform: rotate(-30deg);
            // top: -7px;
            // left: -2px;
          }
          &::after {
            // width: 30px;
            // height: 3px;
            // transform: rotate(30deg);
            // top: 7px;
            // left: -2px;
          }
        }
        .arrow {
          width: 150px;
          // height: 3px;
          // margin-bottom: 17px;
          // left: 60px;
          // bottom: 10px;
        }
      }
    }
  }
}