* {margin: 0; font-family: 'Montserrat';}
html, body {
  margin: 0; padding: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  // scrollbar-width: none;
  // -ms-overflow-style: none;
}

.body-wrapper {
  width: 100vw; height: 100vh;
  max-width: 100%;
  position: relative;
  .header {
    width: 150px; height: 100%;
    position: absolute;
    z-index: 2;
    // background-color: rgba(0,0,0,0.1);
  }
  .content {
    width: 100vw; height: 100vh;
    max-width: 100%;
    position: absolute;
    background-color: green;
    z-index: 1;
    box-sizing: border-box;
    padding-left: 150px;
  }
  .menu {
    .background {

    }
    .title {

    }
    .items {
      width: 1200px;
      height: 500px;
      background-color: steelblue;
      position: absolute;
      left: 150px; right: 0;
      margin: auto;
      bottom: 50px;
      .item {
        position: absolute;
        bottom: 0;
        width: 250px;
        height: 500px;
        &:first-of-type {left: 0;}
        &:last-of-type {right: 0;}
        &:nth-of-type(2) {left: 0; right: 0; margin: auto;}
        .item-part {
          width: 100%;
          position: absolute;
        }
        .item-top {
          height: 420px;
          // background-color: rosybrown;
          z-index: 2;
          border-bottom-right-radius: 0;
          transform-origin: bottom;
          overflow-x: hidden;
          .item-top-01 {
            width: 100%;
            height: 250px;
            position: absolute;
            bottom: 0;
            transform-origin: bottom;
            background-color: sandybrown;
            transform: skew(45deg);
            right: -300px;
            transition: 0.5s;
            &:hover {
              right: -150%;
              width: 150%;
              height: 350px;
            }
          }
        }
        .item-bottom {
          height: 300px;
          background-color: #f0f0f0;
          z-index: 1;
          bottom: 0;
          border-radius: 20px;
        }
        .item-image {
          
        }
        .item-category {

        }
        .item-name {

        }
      }
    }
  }
}